@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


@if (ViewBag.ErrorTittle == null)
{
    <h3 class="text-danger">Erro!</h3>
<h4 class="text-danger">This Role can not be deleted because it used in Portal User Roles Table.</h4>
}
else
{

    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>

}