@model PortalWebApplication.Models.PortalRole

@{
    ViewData["Title"] = "Create";
}


<h4>Add Portal Role</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PortalRoleDescription" class="control-label"></label>
                        <input asp-for="PortalRoleDescription" class="form-control" />
                        <span asp-validation-for="PortalRoleDescription" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div>
                        <div class="form-group">
                            <label asp-for="Company" class="control-label"></label>
                            <input asp-for="Company" class="form-control"/>
                            <span asp-validation-for="Company" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive"/> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DateCreated" class="control-label"></label>
                        <input asp-for="DateCreated" class="form-control" />
                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Add Role" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
