@{
    ViewData["Title"] = "Home Page";

}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>This application Adds, Edit and Delete table contents</a>.</p>
    <p><a>All user inputs are screened and validated</a>.</p>
    <p><a>Use navigation bar on top to browse through three tabes</a>.</p>
</div>
